<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por región <small> {{ regionActive | titlecase }} </small></h3>
  <hr>
  
  <h5>Seleccione la región</h5>
  
  <div class="row">
    <div class="col">
      <!-- [class.miclase]="region === regionActivate" -->
      <!--         
        [ngClass]="{
            'btn-primary': regionActive === reg,
            'btn-outline-primary': regionActive !== reg
          }" -->
          <!--  [class]="(reg === regionActive) ? 'btn btn-primary':'btn btn-outline-primary'" -->
      <button 
          *ngFor="let reg of region" 
          [class]="getClassButton( reg )"
          (click)="activateRegion( reg )">
          {{ reg | titlecase }}
      </button>
    </div>
  </div>
  <hr>
</div>
<div *ngIf="loading" class="alert alert-info">
  Cargando, Espere por favor
</div>

<div *ngIf="dataCountries.length > 0 && !loading" class="row">
  <div class="col">
    <app-country-table [dataCountries]="dataCountries"></app-country-table>
  </div>
</div>